* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    150deg,
    #eee9c5,
    rgb(104, 209, 223),
    rgb(32, 97, 99),
    #273b61,
    #081c53
  );
  overflow-x: hidden;
  .progressWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 10;
    background: #2fc8d3;
    .bar {
      width: 0;
      height: inherit;
      background: #fff;
      z-index: 10;
      transition: width 0.4s ease-out;
    }
  }
  .submarine {
    position: fixed;
    top: 5%;
    width: 120px;
    z-index: 10;
    transition: transform 0.4s ease-out;
  }
  .innerWrap {
    position: relative;
    padding: 40px;
    // border: 1px solid #fff;
    .title {
      width: 100%;
      text-align: center;
      font-size: 40px;
      color: #fff;
    }
    .textWrap {
      padding: 500px 0;
      p {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
      }
      img {
        width: 100%;
      }
    }
  }
  .octopus {
    position: fixed;
    right: 0;
    bottom: -150px;
    width: 300px;
    z-index: -1;
    opacity: 0.6;
    transition: transform 0.4s ease-out;
  }
  .depthWrap {
    position: fixed;
    bottom: 50px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px dashed #fff;
    padding-bottom: 10px;
  }
}
