// reset
@import "./reset.scss";

// Built-in
$color: (
  accent-color: crimson,
  bg-dark-color: #000,
  bg-light-color: #fff,
  bg-grey-color: #808080,
  theme-color: #55b2e4,
);

$size: 14px;

// common
html,
body {
  width: 100%;
  height: 100%;
}

// home
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f00;
  .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @at-root.content_title {
      display: flex;
      align-items: center;
      gap: 10px;
      .title {
        color: map-get($color, theme-color);
        font: normal $size/1 "arial";
      }
      .subtitle {
        font: normal $size/1 "arial";
      }
    }
    @at-root.devideline {
      width: 100%;
      border-top: 1px solid map-get($color, bg-grey-color);
      margin: 4px 0;
    }
  }
  .wrapper_body {
    width: 100%;
    height: 270px;
    .video {
      width: 100%;
      height: 240px;
      background: url(./contents/iu_1.jpg) center/cover no-repeat;
      margin-top: 10px;
    }
  }
}
