/* reset css */
@import url("./reset.css");

#wrapper {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  position: relative;
  /* border: 1px solid #f00; */
  #topline {
    width: 100vw;
    height: 3px;
    background-color: var(--main-pink-color);
  }
}

/* top_navigation */
#top_navigation {
  width: 100%;
  height: 100px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid #f00; */
}

/* logo */
#logo img {
  width: 170px;
  height: 45%;
  cursor: pointer;
}

/* right_gnb */
.right_gnb_first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  a {
    font-family: "Elice1";
    font-size: 16px;
  }
}

/* main */
#main {
  .main_background {
    width: 100%;
    height: 810px;
    /* border: 1px solid #f00; */
  }
  .main_img {
    width: 450px;
    margin: 165px auto 40px;
    position: relative;
    /* border: 1px solid; */
    img {
      width: 100%;
      height: 100%;
    }
    h1 {
      position: absolute;
      right: 0;
      top: 40px;
      font-size: 60px;
      font-family: "YClover2";
    }
  }
  .main_text {
    h1 {
      position: absolute;
      text-align: center;
      font-size: 55px;
      font-family: Elice1;
      width: 100vw;
    }
  }
}

/* page1 */
#page1 {
  .background {
    width: 100%;
    height: 916px;
    /* border: 1px solid transparent; */
    background-color: var(--main-pink-color);
    position: relative;
    .mimo_img {
      img {
        /* border: 1px solid #fff; */
        width: 458px;
        height: 525px;
        top: 202px;
        left: 300px;
        position: absolute;
      }
    }
    .page1_part {
      .page1_part_me {
        /* border: 1px solid #f00; */
        width: 272px;
        height: 228px;
        top: 234px;
        left: 902px;
        position: absolute;
        font-family: "Elice2";
        /* line-height: 60px; */
        color: #fff;
        h2 {
          font-size: 25px;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 60px;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 20px;
          margin-bottom: 30px;
        }
      }
      h4 {
        font-family: "Elice2";
        font-size: 20px;
        color: var(--main-gray1-color);
        margin-bottom: 16px;
      }
      p {
        font-family: "Elice1";
        font-size: 20px;
        color: #fff;
        margin-bottom: 9px;
      }
      .page1_part_1 {
        /* border: 1px solid #f00; */
        top: 507px;
        left: 902px;
        position: absolute;
      }

      .page1_part_2 {
        /* border: 1px solid #f00; */
        top: 643px;
        left: 902px;
        position: absolute;
      }
      .page1_part_3 {
        /* border: 1px solid #f00; */
        top: 234px;
        left: 1306px;
        position: absolute;
      }
      .page1_part_4 {
        /* border: 1px solid #f00; */
        top: 339px;
        left: 1306px;
        position: absolute;
      }
      .page1_part_5 {
        border: 1px solid #f00;
        top: 475px;
        left: 1306px;
        position: absolute;
        .skill_logo {
          /* display: flex; */
          flex-direction: column;
        }
      }
    }
  }
}

/* page2 */
#page2 {
  .background {
    width: 100%;
    height: 800px;
    background-color: #fff;
    position: relative;
    border: 1px solid #f00;
  }
  h1 {
    font-family: "YClover2";
    font-size: 40px;
    color: var(--main-gray1-color);
    text-align: center;
    font-size: 40px;
  }
  .mbti-progress {
    width: 60%;
    /* padding: 50px; */
    color: var(--main-gray1-color);
    border-radius: 30px;
    h1 {
    }
    .item {
      article {
        margin-bottom: 10px;
        &:first-child {
          display: flex;
          justify-content: space-between;
        }
      }
      .progress {
        border-radius: 50px;
        padding: 0;
        .progress-level {
          height: 30px;
          border-radius: 30px;
          background: linear-gradient(to right, #ffe7f3, #fd5b95);
          animation: ani 1s;
          animation-fill-mode: both;
        }
      }
    }
  }
}

/* page3 */
#page3 {
  .background {
    width: 100%;
    height: 800px;
    background-color: #fff;
    position: relative;
    border: 1px solid #f00;
  }
  h1 {
    font-family: "YClover2";
    text-align: center;
    font-size: 40px;
    color: var(--main-gray1-color);
  }
}
