// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  #container {
    // border: 1px solid #f00;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    h1 {
      margin-bottom: 30px;
    }
    #info {
      li {
        font-size: 16px;
        margin-bottom: 10px;
        label {
          width: 400px;
          margin: 0 20px;
        }
        input[type="text"] {
          width: 300px;
          height: 30px;
        }
      }
    }
    .btn {
      width: 400px;
      height: 40px;
      font-size: 14px;
    }
  }
  table {
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    tr {
      td {
        border: 1px solid #ccc;
      }
    }
  }
}
