/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #eee;
  header {
    background: #fff;
    display: flex;
    /* wrap 보장해줘 */
    /* flex-wrap: wrap; */
    /* height: 80px; 어떤 상황에서 바뀔지 모르니 px로 고정값 주지않음  */
    padding: 20px;
    .logo {
      flex: 1;
    }
    .gnb {
      flex: 6;
      ul {
        display: flex;
        justify-content: space-evenly;
      }
    }
    .search {
      flex: 1;
      text-align: right;
    }
  }
}

/* 780px(모바일)부터는 아래 스타일을적용하겠다 */
@media screen and (max-width: 780px) {
  body {
    header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .gnb {
        ul {
          gap: 10px;
        }
      }
      .search {
        input[type="search"] {
          padding: 10px;
          border: none;
          border-bottom: 1px solid #eee;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
